<footer class="py-4 footer-distributed mt-auto" style="width: 100%;">
    <div class="footer-left">
  <img src="assets/images/logo.png" style="width: 50px; height: 50px;">
        <h3>URBAN HOMES</h3>

        <p class="footer-links">
            <a href="/dashboard">Home</a>
            |
            <a href="/dashboard/about">About</a>
            |
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">© 2020 URBAN HOMES</p>
    </div>

    <div class="footer-center">
        <h4>Help & Contact</h4>
        <div>
            <i class="fa fa-map-marker"></i>
              <p><span>MANYAWAS, MANSAROVER,</span>
                 JAIPUR-302020</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>9571547715</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:dhakadmohit463@gmail.com">dhakadmohit463@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            We get you with a wide range of properties,apartments and so many things you want to purchase.</p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
            <!-- <a href="#"><i class="fa fa-youtube"></i></a> -->
        </div>
    </div>

    




</footer>
