.card {
    float: left;
    width: 20rem;
    margin: 2em 1em;
    min-height: 600px;
}
.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.noMarginPadding {
    margin: 0;
    padding: 0;
}

.btn {
    background-color:  rgb(67, 158, 161);
  }