
<div class="about-section">
    <h1>About Us</h1>
    <p>By the help to website i will help you to  buy homes,commercial property and some other good investments.</p>
    <p>for more information please contact us.</p>
  </div>
  
  <h2 style="text-align:center">Owner</h2>
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
    
        <div class="container">
          <h2>P R Nagar</h2>
          <p class="title">Owner and Broker.</p>
          <p>I will help you to what you want to get.</p>
          <p>dhakadmohit463@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
  </div>
  
