.navbar,.dropdown-menu {
    background: #8bccc7;
}
ul li a {
    display: block;
    padding: 16.5px 25px 16.5px 25px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
ul li a:hover {
    background:#66b1ac;
}

.navbar-brand{
    font-family:'Roboto Mono';
}