<div class="container">
    <form action="action_page.php">
  
      <label for="fname">Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Enter name">
  
      <label for="lname">Email</label>
      <input type="text" id="lname" name="lastname" placeholder="Enter email">

      <label for="lname">Mobile</label>
      <input type="text" id="lname" name="lastname" placeholder="Enter Mobile no.">

  
      <input type="submit" value="I'm intrested">
  
    </form>
  </div>

