<div class="container ">
  <div *ngIf="showAllProducts" class="row " style="width: 100%;">
    <div class="col ">
      <div class="card " *ngFor="let property of properties">
        <img [src]="property.imgSrc" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{property.title}}</h5>
          <p class="card-text">{{property.description}}</p>
          <p class="card-text " style="font-weight: bold;">Price: {{ property.price }}</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
