<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial;
      font-size: 18px;
    }

  </style>
</head>

<body>

  <div class="container">
    <img [src]="property.imgSrc" alt="Notebook" style="width:100%;">
    <div class="content">
      <h1>{{property.title}}</h1>
      <p>{{property.description}}</p>
      <p>Price:{{property.price}}
      </p>
      <p>Area:{{property.area}}</p>
      <p>size:{{property.size}}</p>
      <p>Location:{{property.location}}</p>
    </div>
  </div>

</body>

</html>
