<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 18px;
}


</style>
</head>
<body>

<div class="container">
  <img src="assets/home1.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>Single floor house</h1>
    <p>Ready to shift house.</p>
    <p>Price:7-12 lac onwards
    </p>
    <p>Area:70 gaj</p>
    <p>size:15 by 30</p>
    <p>Location:Muhana</p>
  </div>
</div>

</body>
</html>
